<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="scene_obstacles">

  <!-- Scene Obstacles Macro -->
  <xacro:macro name="scene_obstacles" params="parent">

    <xacro:property name="floor_roll" value="1.5708" />
    <xacro:property name="floor_pitch" value="0.0" />
    <xacro:property name="floor_yaw" value="1.57" />
  <!-- adjust joint z to translate the floor in world coordinates if needed -->
  <xacro:property name="floor_z_offset" value="0.0" />
  <!-- visual offset: use this to shift the mesh relative to the floor link frame (to center it) -->
  <xacro:property name="floor_visual_xyz" value="-0.5 0 0" />

    <!-- Materials for obstacles  qui vado a inizializzare ostacoli con colori -->
    <material name="table_color">
<color rgba="0.2 0.2 0.2 1.0"/>
    </material>
    
    <material name="wall_color">
      <color rgba="0.7 0.7 0.7 0.4"/>  
    </material>
    
    <material name="red_color">
      <color rgba="1.0 0.0 0.0 0.5"/> 
    </material>
    
    <material name="green_color">
      <color rgba="0.0 1.0 0.0 0.5"/>  
    </material>
    
    <material name="blue_color">
      <color rgba="0.0 0.0 1.0 0.5"/>  
    </material>

    <material name="floor_color">
      <color rgba="0.6 0.6 0.6 0.3"/>  
    </material>


  <!-- Frigorifero obstacle -->
  <link name="frigorifero">
    <visual>
      <origin xyz="0 0 0" rpy="1.57 0 3.14"/>
      <geometry>
        <mesh filename="file://$(find iiwa_description)/meshes/obstacles/Frigorifero.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="table_color"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.57 0 3.14"/>
      <geometry>
        <mesh filename="file://$(find iiwa_description)/meshes/obstacles/Frigorifero.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="1.57 0 3.14"/>
      <mass value="30.0"/>
      <inertia ixx="5.0" ixy="0.0" ixz="0.0" iyy="5.0" iyz="0.0" izz="5.0"/>
    </inertial>
  </link>

  <joint name="world_to_frigorifero" type="fixed">
    <parent link="${parent}"/>
    <child link="frigorifero"/>
    <origin xyz="1.87 2.62 0.0" rpy="0 0 0"/>
  </joint>
  <link name="Congelatore">
    <visual>
      <origin xyz="0 0 0" rpy="1.57 0 3.14"/>
      <geometry>
        <mesh filename="file://$(find iiwa_description)/meshes/obstacles/Congelatore.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="table_color"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.57 0 3.14"/>
      <geometry>
        <mesh filename="file://$(find iiwa_description)/meshes/obstacles/Congelatore.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="1.57 0 3.14"/>
      <mass value="30.0"/>
      <inertia ixx="5.0" ixy="0.0" ixz="0.0" iyy="5.0" iyz="0.0" izz="5.0"/>
    </inertial>
  </link>

  <joint name="world_to_Congelatore" type="fixed">
    <parent link="${parent}"/>
    <child link="Congelatore"/>
    <origin xyz="1.87 1.85 0.0" rpy="0 0 0"/>
  </joint>

  <link name="Roboqbo">
    <visual>
      <origin xyz="0 0 0" rpy="1.57 0 0"/>
      <geometry>
        <mesh filename="file://$(find iiwa_description)/meshes/obstacles/Roboqbo.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="table_color"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.57 0 0"/>
      <geometry>
        <mesh filename="file://$(find iiwa_description)/meshes/obstacles/Roboqbo.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="1.57 0 0"/>
      <mass value="30.0"/>
      <inertia ixx="5.0" ixy="0.0" ixz="0.0" iyy="5.0" iyz="0.0" izz="5.0"/>
    </inertial>
  </link>

  <joint name="world_to_Roboqbo" type="fixed">
    <parent link="${parent}"/>
    <child link="Roboqbo"/>
    <origin xyz="-1.60 -0.32 0.07" rpy="0 0 0"/>
  </joint>

    <link name="Rastrelliera">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 3.14"/>
      <geometry>
        <mesh filename="file://$(find iiwa_description)/meshes/obstacles/Rastrelliera.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="table_color"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 3.14"/>
      <geometry>
        <mesh filename="file://$(find iiwa_description)/meshes/obstacles/Rastrelliera.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 3.14"/>
      <mass value="30.0"/>
      <inertia ixx="5.0" ixy="0.0" ixz="0.0" iyy="5.0" iyz="0.0" izz="5.0"/>
    </inertial>
  </link>

  <joint name="world_to_Rastrelliera" type="fixed">
    <parent link="${parent}"/>
    <child link="Rastrelliera"/>
    <origin xyz="-0.26 -0.11 0.86" rpy="0 0 0"/>
  </joint>

 <link name="Deimpilatore_piatti">
    <visual>
      <origin xyz="0 0 0" rpy="1.57 3.14 0"/>
      <geometry>
        <mesh filename="file://$(find iiwa_description)/meshes/obstacles/Deimpilatore_piatti.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="table_color"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.57 3.14 0"/>
      <geometry>
        <mesh filename="file://$(find iiwa_description)/meshes/obstacles/Deimpilatore_piatti.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="1.57 3.14 0"/>
      <mass value="30.0"/>
      <inertia ixx="5.0" ixy="0.0" ixz="0.0" iyy="5.0" iyz="0.0" izz="5.0"/>
    </inertial>
  </link>
  <joint name="world_to_Deimpilatore_piatti" type="fixed">
    <parent link="${parent}"/>
    <child link="Deimpilatore_piatti"/>
    <origin xyz="-0.20 -1.08 1.80" rpy="0 0 0"/>
  </joint>







    
     <link name="Trasportatore1">
    <visual>
      <origin xyz="0 0 0" rpy="1.57 3.14 0"/>
      <geometry>
        <mesh filename="file://$(find iiwa_description)/meshes/obstacles/Trasportatore1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="table_color"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.57 3.14 0"/>
      <geometry>
        <mesh filename="file://$(find iiwa_description)/meshes/obstacles/Trasportatore1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="1.57 3.14 0"/>
      <mass value="30.0"/>
      <inertia ixx="5.0" ixy="0.0" ixz="0.0" iyy="5.0" iyz="0.0" izz="5.0"/>
    </inertial>
  </link>

  <joint name="world_to_Trasportatore1" type="fixed">
    <parent link="${parent}"/>
    <child link="Trasportatore1"/>
    <origin xyz="-0.83 -1.905 0.84" rpy="0 0 0"/>
  </joint>

  <link name="Tavolo_inox">
    <visual>
      <origin xyz="0 0 0" rpy="1.57 3.14 -1.57"/>
      <geometry>
        <mesh filename="file://$(find iiwa_description)/meshes/obstacles/Tavolo_inox.stl" scale="0.001 0.001 0.001"/>
      </geometry>
            <material name="table_color"/>

    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.57 3.14 -1.57"/>
      <geometry>
        <mesh filename="file://$(find iiwa_description)/meshes/obstacles/Tavolo_inox.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="1.57 3.14 -1.57"/>
      <mass value="30.0"/>
      <inertia ixx="5.0" ixy="0.0" ixz="0.0" iyy="5.0" iyz="0.0" izz="5.0"/>
    </inertial>
  </link>



  <joint name="world_to_Tavolo_inox" type="fixed">
    <parent link="${parent}"/>
    <child link="Tavolo_inox"/>
    <origin xyz="0.02 0.41 0.842" rpy="0 0 0"/>
  </joint>
    

     <link name="Tavolo_inox2">
    <visual>
      <origin xyz="0 0 0" rpy="1.57 3.14 1.57"/>
      <geometry>
        <mesh filename="file://$(find iiwa_description)/meshes/obstacles/Tavolo_inox2.stl" scale="0.001 0.001 0.001"/>
      </geometry>
            <material name="table_color"/>

    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.57 3.14 1.57"/>
      <geometry>
        <mesh filename="file://$(find iiwa_description)/meshes/obstacles/Tavolo_inox2.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="1.57 3.14 1.57"/>
      <mass value="30.0"/>
      <inertia ixx="5.0" ixy="0.0" ixz="0.0" iyy="5.0" iyz="0.0" izz="5.0"/>
    </inertial>
  </link>



  <joint name="world_to_Tavolo_inox2" type="fixed">
    <parent link="${parent}"/>
    <child link="Tavolo_inox2"/>
    <origin xyz="-0.680 1.24 0.842" rpy="0 0 0"/>
  </joint>
    

   


    <!-- Floor -->
    <link name="floor">
      <visual>
        <origin xyz="0.0 0.0 0" rpy="${floor_roll} ${floor_pitch} ${floor_yaw}"/>
        <geometry>
          <mesh filename="file://$(find iiwa_description)/meshes/obstacles/Pavimento1.stl" scale ="0.001 0.001 0.001"/>
        </geometry>
        <material name="floor_color"/>  <!-- Usa il materiale definito sopra -->
      </visual>
      <collision>
        <origin xyz="1.0 0.5 0" rpy="${floor_roll} ${floor_pitch} ${floor_yaw}"/>
        <geometry>
          <mesh filename="file://$(find iiwa_description)/meshes/obstacles/Pavimento1.stl" scale ="0.001 0.001 0.001"/>
        </geometry>
      </collision>
      <inertial>
        <origin xyz="1.0 0.5 0" rpy="${floor_roll} ${floor_pitch} ${floor_yaw}"/>
        <mass value="100.0"/>
        <inertia ixx="75.0" ixy="0.0" ixz="0.0" iyy="75.0" iyz="0.0" izz="150.0"/>
      </inertial>
    </link>

    <joint name="world_to_floor" type="fixed">
      <parent link="${parent}"/>
      <child link="floor"/>
      <origin xyz="-1.25 -0.5 0.0" rpy="0 0 0"/>
    </joint>

  </xacro:macro>

</robot>